<ion-content >
  <div class="box">
    <ion-item class = "one">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-item class = "two">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>

      <ion-button expand="block" (click)="signin()">Sign In</ion-button>

      <p>Don't have an account? <a routerLink="/sign-up">Sign Up</a></p>
  </div>
</ion-content>

