<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Create</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Create</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label position="stacked">Title</ion-label>
    <ion-input type="text" [(ngModel)]="newAnime.title"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Episodes</ion-label>
    <ion-input type="number" [(ngModel)]="newAnime.episodes"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Is Ongoing?</ion-label>
    <ion-toggle [(ngModel)]="newAnime.isOngoing"></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Genre</ion-label>
    <ion-select multiple="true" [(ngModel)]="newAnime.genres">
      <ion-select-option *ngFor="let genre of genres" [value]="genre">{{ genre }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Rating</ion-label>
    <ion-input type="number" [(ngModel)]="newAnime.rating"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Release Date</ion-label>
    <ion-input type="date" [(ngModel)]="newAnime.released"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="saveAnime()">Save</ion-button>
</ion-content>
