
<ion-content>
  <div class="box"> 
    <ion-item class="one">
      <ion-label position="floating"><ion-icon name="mail-outline" class = "icon"></ion-icon> Email</ion-label>
      <ion-input type="email" [clearInput]="true" [(ngModel)]="signupEmail"></ion-input>
    </ion-item>
  
    <ion-item class="two">
      <ion-label position="floating"><ion-icon name="lock-closed-outline"  class = "icon"></ion-icon> Password</ion-label>
      <ion-input type="password" [clearInput]="true" [(ngModel)]="signupPassword"></ion-input>
    </ion-item>
  
    <ion-item class="three">
      <ion-label position="floating"><ion-icon name="lock-closed-outline"  class = "icon"></ion-icon> Retype Password</ion-label>
      <ion-input type="password" [clearInput]="true" [(ngModel)]="retypePass"></ion-input>
    </ion-item>
  
    <ion-button expand="block" (click)="signup()">Sign Up</ion-button>
  
    <p>Already have an account? <a routerLink="/sign-in">Sign In</a></p>
  </div>
  
</ion-content>
