<ion-content [fullscreen]="true" class="dashboard-content">
  
  <div class="dashboard-text">
    <h2>Name:</h2>
    <p>Neilfe Amor A. Solano</p>
  
    <h2>Brief Description About Myself:</h2>
    <p>I am a 2nd Year Bachelor of Science in Information Technology Student currently studying at Pamantasan ng Lungsod ng Valenzuela.</p>
  
    <h2>Hobbies:</h2>
    <p>Watching Series and Anime, Reading Manga, Manhua, and Manhwa, Baking, Cooking, Reading Books, Watching TikTok</p>
  
    <h2>Likes:</h2>
    <p>White, Ribbon, Anime, Desserts</p>
  
    <h2>Skills:</h2>
    <p>Editing, Basic Programming, Basic Web Development</p>
  
    <h2>Strengths:</h2>
    <p>Adaptability, Problem-solving, Creativity</p>
  
    <h2>Weakness:</h2>
    <p>Procrastination</p>
  
    <h2>Motto:</h2>
    <p>"Always strive for progress, not perfection."</p>
  
    <h2>Love Language:</h2>
    <p>All of them because I believe that expressing love through different languages allows for deeper connections and understanding in various relationships.</p>
  
    <h2>Pet Peeve:</h2>
    <p>Someone asking obvious questions too many times</p>
  
    <h2>If I Were a Food, I Will Be…</h2>
    <p>A Chocolate Cake - Sweet and comforting</p>
  
    <h2>I see myself in five years…</h2>
    <p>As a successful data analyst working in a reputable tech company, using data to make important decisions and solve difficult problems across different industries. </p>
  </div>
  
  <ion-button expand="block" (click)="logout()">Log Out</ion-button>
  
</ion-content>
