<ion-header [translucent]="true" class="dashboard-header">
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="dashboard-content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class = "img">
    <ion-img 
    src = "https://scontent.fmnl4-4.fna.fbcdn.net/v/t39.30808-6/368050188_838143911362229_8790215444027557668_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeEShAB0ZTh4EcJgkINv2s1CR26zluuHfIlHbrOW64d8iedH5vmVboIohRiiJOlNzxBOOZrG405QZYXIMXZ0VWmM&_nc_ohc=EsINyAwuztYAb7f-Fmf&_nc_zt=23&_nc_ht=scontent.fmnl4-4.fna&oh=00_AfA7TjgN_PdLlh7WKL-JLSXwMgYVh0a3BTiuhjq2xQ1irg&oe=66325B6E"
    alt = "img"></ion-img>
</div>
  
  <div class="dashboard-text">
    <h2>Name:</h2>
    <p>Neilfe Amor A. Solano</p>
  
    <h2>Brief Description About Myself:</h2>
    <p>I am a 2nd Year Bachelor of Science in Information Technology Student currently studying at Pamantasan ng Lungsod ng Valenzuela.</p>
  
    <h2>Hobbies:</h2>
    <p>Watching Series and Anime, Reading Manga, Manhua, and Manhwa, Baking, Cooking, Reading Books, Watching TikTok</p>
  
    <h2>Likes:</h2>
    <p>White, Ribbon, Anime, Desserts</p>
  
    <h2>Skills:</h2>
    <p>Editing, Basic Programming, Basic Web Development</p>
  
    <h2>Strengths:</h2>
    <p>Adaptability, Problem-solving, Creativity</p>
  
    <h2>Weakness:</h2>
    <p>Procrastination</p>
  
    <h2>Motto:</h2>
    <p>"Always strive for progress, not perfection."</p>
  
    <h2>Love Language:</h2>
    <p>All of them because I believe that expressing love through different languages allows for deeper connections and understanding in various relationships.</p>
  
    <h2>Pet Peeve:</h2>
    <p>Someone asking obvious questions too many times</p>
  
    <h2>If I Were a Food, I Will Be…</h2>
    <p>A Chocolate Cake - Sweet and comforting</p>
  
    <h2>I see myself in five years…</h2>
    <p>As a successful data analyst working in a reputable tech company, using data to make important decisions and solve difficult problems across different industries. </p>
  </div>
  

  <ion-button expand="block" (click)="logout()">Log Out</ion-button>
  
</ion-content>
